.positionsa{
    position: relative;
}
.snbtn{
    position: absolute;
    margin-top: 200px;
    margin-left: 90px;
    padding-left: 24px;
    padding-right: 24px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               color: #fa4d22;
}
.sgbtn{
    position: absolute;
    margin-top: 200px;
    margin-left: 180px;
    padding-left: 24px;
    padding-right: 24px;
    background: #fa4d22;
    border: 1px solid #fa4d22;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               color: #e8e8e8;
}

.snbtn:hover{
    border: 1px solid white;
    background-color: #e8e8e8;
    color: black;
}

.sgbtn:hover{
    border: 1px solid #fa4d22;
    background-color: #fa4d22;
    color: whitesmoke;
}