.tp-caption span {
  color: #fff !important;
}


.owl-carousel .owl-video-tn {
  background-size: cover;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
}

.owl-video-frame {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.owl-video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  display: inline-block;
}

.owl-dot span {
  width: 11px;
  height: 11px;
  background-color: #ccc;
  border-radius: 50%;
  display: block;
  margin: 5px 3px;
}

.owl-dot.active span {
  background-color: #000;
}


/* .wrapper {
  padding: 70px 0;
  overflow-x: hidden;
}


.my-slider {
  padding: 0 70px;
}

.slick-initialized .slick-slide {
  background-color: #b32532;
  color: #FFF;
  height: 200px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
} */


/* 
.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 26px;
} */



/* 
.scroll-tabs .nav-tabs span {
  color: #aab0f1;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: auto;
  padding: 0px 0px 35px 0px;
  width: 100%;
  display: block;
} */
/* for top scroll bar */
.scroll-tabs .nav-tabs span {
  color: #E087D2;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: auto;
  padding: 0px 0px 0px 0px;
  width: 100%;
  display: block;
}

.scroll-tabs .nav-tabs img {
  margin-left: 23px;
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 40px !important;
  border-radius: 999px;
  transition: none !important;
}



/* End scroll bar */


.video-div {
  -webkit-transform: translateZ(0);
  /* position: absolute; */
  /* left: 406.5px; */
  top: 303.125px !important;
  height: 372px !important;
  width: 449px !important;
  padding: 10px;

}
@media only screen and (max-width: 1198px) { 
	.scroll-tabs .nav-tab-line li.active a:before { 
	margin-left: -70px;	
}
}